@media screen and (min-width: 900px) {
  .main_div {
    width: 100vw;
    margin-left: 170px;
    padding-right: 180px;
    grid-gap: 30px 0px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .outer_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 520px) {
  .outer_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }
}
