@media screen and (min-width: 900px) {
  .drawer {
    display: none;
  }

  .outer_div {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
  }
  .outer_div1 {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
  }

  .outer_div:hover,
  .outer_div1:hover {
    width: 172.3px;
    overflow-y: scroll;
  }

  .div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    padding: 10px 0 10px 0;
  }
  .div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #f1eaea; */
    padding: 20px 0;
  }
  .title_p {
    font-size: 22px;
    font-weight: bold;
    color: rgb(82, 82, 82);
  }
  .title_logo {
    font-size: 35px;
    color: rgb(82, 82, 82);
    margin-right: 10px;
  }

  .links {
    display: flex;
    background-color: #ffffff;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 4px 0;
  }
  .links2 {
    display: flex;
    background-color: #efefef;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 4px 0;
  }
  .links:hover {
    background-color: rgb(240, 240, 240);
  }
  .links_div {
    display: flex;
    width: 120px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .logo {
    color: rgb(55, 55, 55);
  }
  .logo1 {
    font-size: 11px;
    color: rgb(55, 55, 55);
  }
  .history {
    width: 95%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 5px;
  }
  .history2 {
    width: 95%;
    height: 40px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 5px;
  }
  .history:hover {
    background-color: rgb(240, 240, 240);
  }
  .history_logo {
    color: rgb(55, 55, 55);
  }
  .history_link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .settings {
    width: 95%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
  }
  .settings2 {
    width: 95%;
    height: 40px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
  }
  .settings:nth-child(1):hover {
    background-color: rgb(191, 182, 182);
  }
  .settings:nth-child(2):hover {
    background-color: rgb(243, 126, 126);
  }
  .settings_logo {
    color: rgb(55, 55, 55);
  }
  .settings_link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .divider {
    width: 95%;
    background-color: rgb(131, 131, 131);
    padding: 0.56px 0;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .drawer_div {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    z-index: 33;
    background-color: rgb(255, 255, 255, 0);
    padding-left: 9px;
  }

  .drawer {
    padding: 4px;
    margin-top: 7px;
    margin-right: 7px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 3px;
  }

  .outer_div {
    padding-top: 0px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
    box-shadow: black 0px 0px 10px 3px;
  }
  .outer_div1 {
    display: none;
  }
  .outer_div:hover {
    overflow-y: scroll;
  }

  .div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    padding: 10px 0 10px 0;
  }
  .div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #f1eaea; */
    padding: 20px 0;
  }
  .title_p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 82, 82);
  }
  .title_logo {
    font-size: 33px;
    color: rgb(82, 82, 82);
    margin-right: 10px;
  }

  .links {
    display: flex;
    background-color: #ffffff;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 4px 0;
  }
  .links2 {
    display: flex;
    background-color: #efefef;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 4px 0;
  }
  .links:hover {
    background-color: rgb(240, 240, 240);
  }
  .links_div {
    display: flex;
    width: 120px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .logo {
    color: rgb(55, 55, 55);
  }
  .logo1 {
    font-size: 11px;
    color: rgb(55, 55, 55);
  }
  .history {
    width: 95%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 5px;
  }
  .history2 {
    width: 95%;
    height: 40px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 5px;
  }
  .history:hover {
    background-color: rgb(240, 240, 240);
  }
  .history_logo {
    color: rgb(55, 55, 55);
  }
  .history_link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .settings {
    width: 95%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
  }
  .settings2 {
    width: 95%;
    height: 40px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
  }
  .settings:nth-child(1):hover {
    background-color: rgb(191, 182, 182);
  }
  .settings:nth-child(2):hover {
    background-color: rgb(243, 126, 126);
  }
  .settings_logo {
    color: rgb(55, 55, 55);
  }
  .settings_link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .divider {
    width: 95%;
    background-color: rgb(131, 131, 131);
    padding: 0.56px 0;
  }
}
@media screen and (max-width: 520px) {
  .drawer_div {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    z-index: 33;
    background-color: rgb(255, 255, 255, 0);
    padding-left: 9px;
  }

  .drawer {
    padding: 4px;
    margin-top: 7px;
    margin-right: 7px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 3px;
  }

  .outer_div {
    padding-top: 0px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
    box-shadow: black 0px 0px 10px 3px;
  }
  .outer_div1 {
    display: none;
  }
  .outer_div:hover {
    overflow-y: scroll;
  }

  .div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    padding: 10px 0 10px 0;
  }
  .div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #f1eaea; */
    padding: 18px 0;
  }
  .title_p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 82, 82);
  }
  .title_logo {
    font-size: 30px;
    color: rgb(82, 82, 82);
    margin-right: 10px;
  }

  .links {
    display: flex;
    background-color: #ffffff;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 4px 0;
  }
  .links2 {
    display: flex;
    background-color: #efefef;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 4px 0;
  }
  .links:hover {
    background-color: rgb(240, 240, 240);
  }
  .links_div {
    display: flex;
    width: 120px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .logo {
    color: rgb(55, 55, 55);
  }
  .logo1 {
    font-size: 11px;
    color: rgb(55, 55, 55);
  }
  .history {
    width: 95%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 5px;
  }
  .history2 {
    width: 95%;
    height: 40px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 5px;
  }
  .history:hover {
    background-color: rgb(240, 240, 240);
  }
  .history_logo {
    color: rgb(55, 55, 55);
  }
  .history_link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .settings {
    width: 95%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
  }
  .settings2 {
    width: 95%;
    height: 40px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
  }
  .settings:nth-child(1):hover {
    background-color: rgb(191, 182, 182);
  }
  .settings:nth-child(2):hover {
    background-color: rgb(243, 126, 126);
  }
  .settings_logo {
    color: rgb(55, 55, 55);
  }
  .settings_link {
    font-size: 12.5px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(55, 55, 55);
  }
  .divider {
    width: 95%;
    background-color: rgb(131, 131, 131);
    padding: 0.56px 0;
  }
}
