@media screen and (min-width: 900px) {
  .outer_div {
    background-color: #cfe6dd;
    margin: 10px 0;
    border-radius: 10px;
    width: 39vw;
    box-shadow: rgb(126, 126, 126) 0px 0px 3px 0px;
    position: relative;
    padding: 5px 0;
  }
  .dataa {
    font-size: 12.5px;
  }
  .button1 {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .skelton_div {
    background-color: rgb(209, 252, 255);
    border-radius: 5px;
  }
  .skelton {
    width: 27vw;
    border-radius: 5px;
    color: rgb(255, 202, 12);
    background-color: yellow;
  }
  .post {
    padding: 10px;
    max-height: 510px;
    min-height: 400px;
    background-color: #fbffff;
    overflow: scroll;
  }
  .title {
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .description {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
  }
  .operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
  }
  .comment_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comment_field {
    border: none;
    height: 27px;
    width: 25vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
    background-color: #ffffff;
  }
  .logo1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  .logo2 {
    font-size: 26px;
    background-color: rgb(53, 53, 53);
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
  }
  .view_comment {
    padding: 5px 10px 5px 10px;
    display: inline;
    user-select: none;
    font-size: 13px;
    font-weight: 500;

    cursor: pointer;
  }
  .view_comment:hover {
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    color: blue;
  }

  .comment_div {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 114px;
    z-index: 100;
    height: 510px;
    width: 100%;
    left: 0vw;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    border-radius: 1px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  }
  .comment_div1 {
    display: none;
  }
  .inner_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fafafa;
    margin: 2px 20px;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: grey 0px 0px 1px 0px;
  }
  .comment_data {
    width: 15vw;
    font-size: 13px;
    overflow: hidden;
  }
  .comment_date {
    font-size: 10px;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    background-color: #cfe6dd;
    padding: 2px 0;
    margin: 2px 0;
    border-radius: 8px;
    width: 98vw;
  }
  .post {
    margin: 5px 0;
    padding: 8px;
    max-height: 520px;
    min-height: 400px;

    background-color: #ffffff;
    overflow: scroll;
  }
  .dataa {
    font-size: 12px;
  }
  .button1 {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .title {
    padding: 1px 10px 1px 10px;
    font-size: 13px;
    font-weight: 500;
  }
  .description {
    font-size: 13px;
    padding: 1px 10px 1px 10px;
    font-weight: 500;
  }
  .operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5px 20px 1.5px 20px;
  }
  .skelton_div {
    background-color: rgb(209, 252, 255);
    border-radius: 5px;
  }
  .skelton {
    width: 64vw;
    border-radius: 5px;
    color: rgb(255, 202, 12);
    background-color: yellow;
  }
  .comment_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comment_field {
    border: none;
    height: 27px;
    width: 60vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
  }
  .logo1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  .logo2 {
    font-size: 26px;
    background-color: rgb(53, 53, 53);
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
  }
  .view_comment {
    padding: 1.5px 10px 1.5px 10px;
    display: inline;
    user-select: none;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
  }
  .view_comment:hover {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    cursor: pointer;
    color: blue;
  }
  .comment_div {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 400px;
    width: 100%;
    padding: 20px;
    left: 0vw;

    background-color: rgb(255, 255, 255);
    overflow: scroll;
    border-radius: 1px;

    box-shadow: black 0px 0px 4px 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: grey 0px 0px 4px 1px;
  }
  .comment_div1 {
    display: none;
  }
  .inner_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2px 10px;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: grey 0px 0px 1px 0px;
  }
  .comment_data {
    width: 40vw;
    font-size: 13px;
    overflow: hidden;
  }
  .comment_date {
    font-size: 10px;
  }
}
@media screen and (max-width: 520px) {
  .outer_div {
    background-color: #cfe6dd;
    padding: 2px 0;
    margin: 2px 0;
    border-radius: 6px;
    width: 99vw;
  }
  .dataa {
    font-size: 11px;
  }
  .button1 {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .post {
    margin: 5px 0;
    padding: 10px;
    max-height: 500px;
    min-height: 400px;

    background-color: #ffffff;
    overflow: scroll;
  }
  .title {
    padding: 1px 10px 1px 10px;
    font-size: 13px;
    font-weight: 500;
  }
  .description {
    font-size: 13px;
    padding: 1px 10px 1px 10px;
    font-weight: 500;
  }
  .operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5px 15px 1.5px 15px;
  }
  .skelton_div {
    background-color: rgb(209, 252, 255);
    border-radius: 5px;
  }
  .skelton {
    width: 55vw;
    border-radius: 5px;
    color: rgb(255, 202, 12);
    background-color: yellow;
  }
  .comment_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comment_field {
    border: none;
    height: 27px;
    width: 50vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
  }
  .logo1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  .logo2 {
    font-size: 26px;
    background-color: rgb(53, 53, 53);
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
  }
  .view_comment {
    padding: 1px 10px 1px 10px;
    display: inline;
    user-select: none;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
  }
  .view_comment:hover {
    padding: 1px 10px 1px 10px;
    font-size: 13px;
    cursor: pointer;
    color: blue;
  }
  .comment_div {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 400px;
    width: 100%;
    padding: 10px 5px;
    left: 0vw;

    background-color: rgb(255, 255, 255);
    overflow: scroll;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: grey 0px 0px 4px 1px;
  }
  .comment_div1 {
    display: none;
  }
  .inner_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 2px 5px;
    padding: 10px 3px;
    border-radius: 5px;
    box-shadow: grey 0px 0px 1px 0px;
  }
  .comment_data {
    width: 40vw;
    font-size: 13px;
    overflow: hidden;
  }
  .comment_date {
    font-size: 10px;
    width: 80px;

    overflow: hidden;
  }
}
