@media screen and (min-width: 900px) {
  .outer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
    margin-left: 170px;
    background-color: #ffffff;
  }
  .search_bar {
    height: 60px;
    width: 400px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    padding: 0 10px;
    margin: 20px;
    font-size: 16px;
    box-shadow: rgb(189, 189, 189) 0px 0px 6px 0px;
  }
  .users_div {
    border-radius: 10px;
    width: 700px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    box-shadow: rgb(189, 189, 189) 0px 0px 8px 0px;
    overflow-y: hidden;
  }
  .users_div:hover {
    overflow-y: scroll;
  }
  .profile_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6px;
    border-radius: 6px;
    padding: 5px 60px;
    /* background-color: #cfe6dd; */
    /* box-shadow: rgb(169, 168, 168) 0px 0px 1px 0px; */
  }
  .username {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 350px;
  }
  .dp {
    height: 52px;
    width: 52px;
    border-radius: 30px;
    object-fit: cover;
    border: 2.3px solid rgb(247, 38, 185);
    padding: 1px;
    margin-right: 20px;
  }
  .name_div p:nth-child(1) {
    font-size: 14.5px;
    font-weight: 500;
  }
  .name_div p:nth-child(2) {
    font-size: 13px;
    color: rgb(90, 90, 90);
  }
  .logo {
    font-size: 13px;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height: 100vh;
    justify-content: flex-start;

    background-color: #ffffff;
  }
  .search_bar {
    height: 45px;
    width: 85vw;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    padding: 0 10px;
    margin: 20px;
    font-size: 16px;
    box-shadow: rgb(189, 189, 189) 0px 0px 6px 0px;
  }
  .users_div {
    border-radius: 10px;
    width: 95vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 10px solid white;
    box-shadow: rgb(189, 189, 189) 0px 0px 8px 0px;
    overflow-y: hidden;
  }
  .users_div:hover {
    overflow-y: scroll;
  }
  .profile_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 6px;
    padding: 5px 20px;
    /* background-color: #cfe6dd; */
    /* box-shadow: rgb(169, 168, 168) 0px 0px 1px 0px; */
  }
  .username {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 350px;
  }
  .dp {
    height: 52px;
    width: 52px;
    border-radius: 30px;
    object-fit: cover;
    border: 2.3px solid rgb(247, 38, 185);
    padding: 1px;
    margin-right: 20px;
  }
  .name_div p:nth-child(1) {
    font-size: 14.5px;
    font-weight: 500;
  }
  .name_div p:nth-child(2) {
    font-size: 13px;
    color: rgb(90, 90, 90);
  }
  .logo {
    font-size: 13px;
  }
}
@media screen and (max-width: 520px) {
  .outer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .search_bar {
    height: 40px;
    width: 80vw;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    padding: 0 10px;
    margin: 20px 0 15px 0;
    font-size: 16px;
    box-shadow: rgb(189, 189, 189) 0px 0px 4px 0px;
  }
  .users_div {
    border-radius: 10px;
    width: 97vw;
    height: 83vh;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 10px solid white;
    box-shadow: rgb(189, 189, 189) 0px 0px 4px 0px;
    overflow-y: hidden;
  }
  .users_div:hover {
    overflow-y: scroll;
  }
  .profile_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 6px;
    padding: 5px 5px;
    /* background-color: #cfe6dd; */
    /* box-shadow: rgb(169, 168, 168) 0px 0px 1px 0px; */
  }
  .username {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 350px;
  }
  .dp {
    height: 52px;
    width: 52px;
    border-radius: 30px;
    object-fit: cover;
    border: 2.3px solid rgb(247, 38, 185);
    padding: 1px;
    margin-right: 20px;
  }
  .name_div p:nth-child(1) {
    font-size: 14.5px;
    font-weight: 500;
  }
  .name_div p:nth-child(2) {
    font-size: 13px;
    color: rgb(90, 90, 90);
  }
  .logo {
    font-size: 13px;
  }
}
